body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.logo {
  width: 100px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.signup {
  padding: 5px 10px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
}

.signup a {
  text-decoration: none;
  color: #333;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

form {
  display: inline-block;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 70px;
  background-color: #333; /* Set button color to #333 */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #000; /* Darker color on hover */
}

.forgot-password {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-google, .login-facebook {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.login-google:hover, .login-facebook:hover {
  background-color: #f2f2f2;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 20px;
  }

  .logo {
    width: 80px; 
    margin-bottom: 10px;
  }

  nav ul {
    text-align: center;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }
}
